<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script type="module">

        import { getFirebaseAd, checkChatroom, createChatroom } from '../config/firebase.js'

        let data
        getAdDetail()

        async function getAdDetail() {
            const urlParams = new URLSearchParams(window.location.search);
            const id = urlParams.get('id')

            const doc = await getFirebaseAd(id)
            data = doc.data()
        }

        window.initiateChat = async function () {
            console.log('userId ===>', data.userId)
            //1. check if chatroom exists
            let chatroom = await checkChatroom(data.userId)

            //2. if not exists then create it
            if (!chatroom) {
                chatroom = await createChatroom(data.userId)
                alert('chatroom created successfully')
            } else {
                alert('chatroom exists')
            }
            const chatId = chatroom._id

            location.href = `chat.html?id=${chatId}`

        }
    </script>
</head>

<body>
    <h1>Detail</h1>

    <button onclick="initiateChat()">Message</button>
</body>

</html>