<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script>

        getAdDetail()

        function getAdDetail() {
            const urlParams = new URLSearchParams(window.location.search);
            const id = urlParams.get('id')

            //getFirebaseAd(id)
            console.log('ad id ===>', id)
        }
    </script>
</head>

<body>
    <h1>Detail</h1>
</body>

</html>